footer
	.container
		.left
			.webLogo
				img(src="images/logo2_w.png", alt="")
			.DirectorSaid 
				p 理事長的話：<br>人會老化，而文化會繼續傳承下去。
		.right
			menu.footer
				a(href="about.html") 關於瀛社
				a(href="history.html") 大事記
				a(href="members.html") 社員傳記
				a(href="literature.html") 文獻
				a(href="sing_verse.html") 吟唱專區
				a(href="news_list.html") 公告專區
				a(href="partner.html") 友社
				a(href="forum.html") 討論區
			div.social
				a(href="#")
					img(src="images/fb.png", alt="")
				a(href="#")
					i.be-icon.be-icon-mail

		.bottomContent
			p.sponsor 本會網站承故顧問謝尊五先生後人贊助。
			p.copyright Copyright © 2019 瀛社xxxxxxx , All Rights Reserved. DESIGN BY 眏歲企業有限公司
