header
  a.logoContent(href="index.html")
    img(src="images/logo2.png" alt="瀛社")
  .touchScop.close

  .mainMenu.close#mainmenu
    .menuTurnBtn.close.mb
      .stick
    .sub.pcc
      label
        input(placeholder="全站搜尋")
      a(href="partner.html") 友社
      a(href="forum.html") 討論區
      a(href="login.html") 登入 | 註冊
    .main
      a(href="about.html") 關於瀛社
      a(href="history.html") 大事紀
      a(href="members.html") 社員傳記
      a(href="literature.html") 文獻
      a(href="sing_verse.html") 吟唱專區
      a(href="news_list.html") 公告專區  
    .sub.mbb
      label
        input(placeholder="全站搜尋")
      a(href="partner.html") 友社
      a(href="forum.html") 討論區
      a(href="login.html") 登入 | 註冊      
  .menuTurnBtn.mb
    .stick
    

  