doctype html
html(lang='zh=TW')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, initial-scale=1.0, user-scalable=no')
    block page_title

    block style_vendor
    link(rel="stylesheet", href="css/app.min.css")
    link(rel="stylesheet", href="css/vendor/swiper.min.css")
    block style
  body#Style2
    a.goTop(href="#Style2")
    .loaderContainer.opacity0.MoveOut
      .loader
    .bg
        .top
        .middleLeft.BG
          img(src="images/deco1_bg.png", alt="")
        .middleRight.BG
          img(src="images/deco2_bg.png", alt="")
        .bottom
          img(src="images/beach_bg.png", alt="")            
    include _header
    block content 
    include _footer
    //- script(type="text/javascript" src="js/vendor/jquery-3.2.1.min.js")
    //- script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.5.1/js/foundation.min.js")
    script(src="js/vendor/vue.min.js")
    script(src="js/vendor/jquery-3.4.1.min.js")
    script(src="js/vendor/axios.min.js")
    script(src="js/vendor/userAgentChecker.min.js")
    script(src="js/vendor/clamp.min.js")
    script(src="js/vendor/jquery.easeScroll.min.js")
    script(src="js/vendor/smooth-scroll.min.js")       
    script(src="js/app.js") 
    block script 
        