extends _layoutStyle2
block page_title
  title 瀛社 - 關於我們
block style
  //- link(rel="stylesheet", href="css/index.min.css")
  style.

block script
  //- script(type="text/javascript" src="js/index.min.js")
  script(type="text/javascript" src="js/vendor/swiper.min.js")
  script(type="text/javascript").
    console.log('haha')

block content
  article.maincontent.aboutUs.inside
    .introBanner(style="background-image:url(images/banner-about.png)")
      h1 關於我們
      h2 About Us
      .track
        img(src="images/home.png", alt="")
        a.home(href="#") 首頁
        a.now 關於我們
    .textContent.main
      section.style1
        .textBox
          h3 理事長的話
          h4 Director's words
          p 臺灣健康醫院學會成立已經邁入第九年了，歷經過去三任理事長的努力   經營已經成為世界衛生組織WHOHPH國際最大網絡(  臺灣共有160家國際網絡會員)  。我們歷年來參加國際研討會的人數及論文   篇數都主導整個大會，這樣的成就除了感謝大家的努力外我們並不自滿反   而覺得責任更重大。因應未來四年應該有一些改變以進入新的里程碑。
          br
          br
          p 依據渥太華憲章的工作綱領，我們在學會成立之初納入健康促進醫院和   健康服務中心的概念、價值、標準與文化和組織結構的調整。為了達成以  上的願景我們完成以下的工作：1.促進和加速會員之間的經驗交流與合作    ；2.擴展現有的醫療照護並納入健康促進的概念以改變醫院只重視急性醫   療的窠臼印象，重新釐訂醫療策略；3.建立並記錄其他機構推動健康促進  之優良案例作為大家學習的標竿。
        .picBox
          img(src="images/about_1.png", alt="")
      section.style2
        .textBox
          h3 瀛社介紹
          h4 introduction
          p 明治四十二年（西元一九○九）先是原籍臺南，旅居北市，任職《臺灣   日日新報》編輯之謝汝銓與記者林馨蘭倡首，三月七日假艋舺平樂遊旗亭  召開成立大會，時為農曆二月十六，乃民俗花朝節之翌日，故以花朝為社   慶之日。成立之初，社員約八十人左右，就中領有茂才以上功名者即達二  十餘人，其他亦皆島中碩儒。以洪以南為北臺名士，推為首任社長。
          br
          br  
          p 依據渥太華憲章的工作綱領，我們在學會成立之初納入健康促進醫院和   健康服務中心的概念、價值、標準與文化和組織結構的調整。為了達成以  上的願景我們完成以下的工作：1.促進和加速會員之間的經驗交流與合作    ；2.擴展現有的醫療照護並納入健康促進的概念以改變醫院只重視急性醫   療的窠臼印象，重新釐訂醫療策略；3.建立並記錄其他機構推動健康促進  之優良案例作為大家學習的標竿。
        .picBox
          img(src="images/about_2.png", alt="")
      section.style3
        .textBox
          h3 瀛社介紹
          h4 introduction
          p 林熊徵生於臺灣臺北板橋，是板橋林家的成員，原名慶綸，字薇閣，譜名熊徵，在辛亥革命後，改以熊徵為名熊徵為板橋林家長房林維讓的長孫，其父林爾康（益記），同時過繼給伯公林國棟（飲記）、伯父林爾昌， 一人兼祧三房。1895年臺灣割讓，板橋林家的族長林維源，帶領家族回到福建廈門居住。在林維源與其父林爾 康相繼過世後，其母帶著全家，至福建福州居住，依靠其舅陳寶琛。
          br
          br
          p 1909年，林熊徵繼承家業，成為板橋林家的族長。創立林本源製糖株式會社。1910年（明治44年），林熊徵返回台灣，設立祭祀公業林本源。同年7月27日，林熊徵所掌控的林本源製糖株  式會社因涉及賄賂台灣總督府民政長官大島久滿次，導致大島久滿次被彈劾下台。林熊徵曾向日本神社貢獻祭品，接待多位至台灣的日本政要與皇族成員，與日本政府關係良好。1923年，攝 政宮裕仁皇太子（後來的昭和天皇）東宮行啟訪臺時，林熊徵獲頒勳四等瑞寶章。林熊徵在台灣，也盡力協助 日本政府。他曾向國聯提供證詞，為日本在台的鴉片專賣制度辯解。1923年，成立公益會，以對抗台灣文化協 會。1924年，號召成立有力者大會，反對台灣議會設置請願運動。  
           
                

            
        
    

