extends _layoutStyle2
block page_title
  title 瀛社 - 關於我們
block style
  //- link(rel="stylesheet", href="css/index.min.css")
  style.

block script
  //- script(type="text/javascript" src="js/index.min.js")
  script(type="text/javascript").
    console.log('haha')
block content
  article.maincontent.literature.inside
    .introBanner(style="background-image:url(images/banner-member.png)")
      h1 文獻
      h2 literature
      .track
        img(src="images/home.png", alt="")
        a.home(href="#") 首頁
        a.link(href="#") 文獻
        a.link(href="#") 謝汝銓
        a.now 蓬萊角樓詩存
    //- section.class 
    //-   span 分類 : 
    //-   a.className(href="#").active 總輯
    //-   a.className(href="#") 別輯
    //-   a.className(href="#") 刊物
    //-   a.className(href="#") 論文
    //-   a.className(href="#") 藏書        
    section.literatureContent   
      .profile
        .left
          .head
            p 吳
            img(src="images/oldMember2.png", alt="")
        .right 
          h2 蓬萊角樓詩存
          .copyright
            p 作者：
              span 吳新榮 
            p 捐贈者：
              span 陳文松
            p 捐贈者：
              span 陳文松
            p 出版社：
              span 玉山社
            p 出版地：
              span 台灣     
            p 出版日期：
              span 1983.12    
          .line
                
          p.article 吳新榮（1907年11月12日－1967年3月27日），字史民，號震瀛、兆行，晚號琑琅山房主人，台灣鹽水港廳（今臺南市將軍區）人。台灣著名文人、醫師與政治人物，在日治時期曾參與組織「佳里青風會」及「台灣文藝聯盟佳里支部」，為「鹽分地帶」文學集團代表人物之一、「北門七子」之一。戰後吳新榮曾擔任台南縣參議員。1947年二二八事件發生時，遭逮捕入獄。後來投身於地方文史工作，曾擔任台南縣文獻委員會編纂組組長，並主編《南瀛文獻》。                                                              
          .downloadBox.detail
            a(href="#")
              img(src="images/pdfIcon.png", alt="") 
              span 早年生平
            a(href="#") 
              img(src="images/pdfIcon.png", alt="")
              span 紀念與追思
            a(href="#")
              img(src="images/pdfIcon.png", alt="")
              span 作品、自傳、日記等的出版             
            a(href="#") 
              img(src="images/pdfIcon.png", alt="")
              span 吳新榮回憶錄                   
            a(href="#") 
              img(src="images/pdfIcon.png", alt="")
              span 吳新榮回憶錄  
          .otherLink(style="padding-top:0")
              .linkBox
                a(href="#")
                  i.be-icon.be-icon-link 
                  span 吳新榮，《吳新榮回憶錄》
                a(href="#")
                  i.be-icon.be-icon-link 
                  span 謝玲玉，《南瀛鄉賢誌》
                a(href="#")
                  i.be-icon.be-icon-link 
                  span 佳里青風會              
    section.replyList
      h2 回覆紀錄
      .replyBox
        .head
          .name 
            p.realName 賴和
            p.nickName (懶雲)
          .date 2019 / 05 / 04
        .content 留言內容留言內容留言內容留言內容留言內容留言內容留言內容留言內容留言內容留言內容留言內容留言內容留言內容留言內容留言內容留言內容留言內容留言內容留言內容
      .replyBox
        .head
          .name 
            p.realName 賴和
            p.nickName (懶雲)
          .date 2019 / 05 / 04
        .content 留言內容留言內容留言內容留言內容留言內容留言內容留言內容留言內容留言內容留言內容留言內容留言內容留言內容留言內容留言內容留言內容留言內容留言內容留言內容
    section.reply.detail   
      h2 我要回覆
      form
        .textBox
          textarea.phColor(name="fillReply" placeholder="請輸入欲回覆內容")
          .submitBox
            img(src="images/VerificationCode.png", alt="")
            input(type="text" placeholder="請輸入左側驗證碼")
            button.submit 送出留言     