extends _layoutStyle2
block page_title
  title 瀛社 - 吟唱專區
block style
  //- link(rel="stylesheet", href="css/index.min.css")
  style.

block script
  script(type="text/javascript" src="js/newsList.js")
  script(type="text/javascript").
    console.log('haha')

block content
  article.maincontent.news.inside
    .introBanner(style="background-image:url(images/banner-news.png)")
      h1 公告專區
      h2 NEWS
      .track
        img(src="images/home.png", alt="")
        a.home(href="index.html") 首頁
        a.now 公告專區
    section.search
      label
        span 搜尋 : 
        input(type="text" placeholder="請輸入關鍵字").phColor
    section.newsList
      a.link(href="news_content.html")
        h3.news 移工來台30年 台灣社會不可或缺的異鄉人移工來台30年 台灣社會不可或缺的異鄉人       
        p.newsContent 1989年10月，台灣經濟正起飛，面臨嚴重缺工問題，急需基層勞動人力，政府為了推動重大建設通過「十四項重要工程人力需求因應措施方案」，首度以專案方式輸入營造業移工，拉開移工來台序幕。
        p.data 2018 / 12 / 25
      a.link(href="news_content.html")
        h3.news 移工來台30年 台灣社會不可或缺的異鄉人       
        p.newsContent 1989年10月，台灣經濟正起飛，面臨嚴重缺工問題，急需基層勞動人力，政府為了推動重大建設通過「十四項重要工程人力需求因應措施方案」，首度以專案方式輸入營造業移工，拉開移工來台序幕。
        p.data 2018 / 12 / 25         
      a.link(href="news_content.html")
        h3.news 移工來台30年 台灣社會不可或缺的異鄉人       
        p.newsContent 1989年10月，台灣經濟正起飛，面臨嚴重缺工問題，急需基層勞動人力，政府為了推動重大建設通過「十四項重要工程人力需求因應措施方案」，首度以專案方式輸入營造業移工，拉開移工來台序幕。
        p.data 2018 / 12 / 25   
      a.link(href="news_content.html")
        h3.news 移工來台30年 台灣社會不可或缺的異鄉人       
        p.newsContent 1989年10月，台灣經濟正起飛，面臨嚴重缺工問題，急需基層勞動人力，政府為了推動重大建設通過「十四項重要工程人力需求因應措施方案」，首度以專案方式輸入營造業移工，拉開移工來台序幕。
        p.data 2018 / 12 / 25   
      a.link(href="news_content.html")
        h3.news 移工來台30年 台灣社會不可或缺的異鄉人       
        p.newsContent 1989年10月，台灣經濟正起飛，面臨嚴重缺工問題，急需基層勞動人力，政府為了推動重大建設通過「十四項重要工程人力需求因應措施方案」，首度以專案方式輸入營造業移工，拉開移工來台序幕。
        p.data 2018 / 12 / 25       
      a.link(href="news_content.html")
        h3.news 移工來台30年 台灣社會不可或缺的異鄉人       
        p.newsContent 1989年10月，台灣經濟正起飛，面臨嚴重缺工問題，急需基層勞動人力，政府為了推動重大建設通過「十四項重要工程人力需求因應措施方案」，首度以專案方式輸入營造業移工，拉開移工來台序幕。
        p.data 2018 / 12 / 25  
      a.link(href="news_content.html")
        h3.news 移工來台30年 台灣社會不可或缺的異鄉人       
        p.newsContent 1989年10月，台灣經濟正起飛，面臨嚴重缺工問題，急需基層勞動人力，政府為了推動重大建設通過「十四項重要工程人力需求因應措施方案」，首度以專案方式輸入營造業移工，拉開移工來台序幕。
        p.data 2018 / 12 / 25       
      a.link(href="news_content.html")
        h3.news 移工來台30年 台灣社會不可或缺的異鄉人       
        p.newsContent 1989年10月，台灣經濟正起飛，面臨嚴重缺工問題，急需基層勞動人力，政府為了推動重大建設通過「十四項重要工程人力需求因應措施方案」，首度以專案方式輸入營造業移工，拉開移工來台序幕。
        p.data 2018 / 12 / 25    
      a.link(href="news_content.html")
        h3.news 移工來台30年 台灣社會不可或缺的異鄉人       
        p.newsContent 1989年10月，台灣經濟正起飛，面臨嚴重缺工問題，急需基層勞動人力，政府為了推動重大建設通過「十四項重要工程人力需求因應措施方案」，首度以專案方式輸入營造業移工，拉開移工來台序幕。
        p.data 2018 / 12 / 25       
      a.link(href="news_content.html")
        h3.news 移工來台30年 台灣社會不可或缺的異鄉人       
        p.newsContent 1989年10月，台灣經濟正起飛，面臨嚴重缺工問題，急需基層勞動人力，政府為了推動重大建設通過「十四項重要工程人力需求因應措施方案」，首度以專案方式輸入營造業移工，拉開移工來台序幕。
        p.data 2018 / 12 / 25                                            
    section.pageNavContent.news
      .pageNav
        a.prev(href="#") 
          i.be-icon.be-icon-arrowLeft 
          span 上一頁
        a.num.active(href="#") 1
        a.num(href="#") 2
        a.num(href="#") 3
        a.num(href="#") 4
        a.num(href="#") 5
        span ...
        a.num(href="#") 20
        a.num(href="#") 21
        a.next(href="#") 
          span 下一頁
          i.be-icon.be-icon-arrowRight        
             